.about {
	padding-bottom: 50px;
	padding-top: 50px;
}
.about-content {
	border-top: 4px solid $border-grey;
	position: relative;
	min-width: 85%;
	&:before {
		content: '';
		position: absolute;
		background: $border-grey;
		left: 0; 
		top: 0;
		height: 145px;
		width: 4px;
	}
	h3 {
		font-size: 3.5rem;
		color: $dark-pink;
		text-transform: uppercase;
		padding: 40px 0 0 40px;
	}	
}
.about-info {
	display: flex;
	padding-top: 25px;
	width: 100%;
}
.about-info_image {
	position: relative;
	padding-top: 30px;
	width: 50%;
	img {
		-webkit-clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
		clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
		display: block;
		margin: 0 auto;
		max-width: 75%;
	}
}
.about-info_copy {
	width: 50%;
	padding-top: 30px;
	padding-right: 40px;
	p:first-child {
		text-transform: uppercase;
		font-size: 1.7rem;
		letter-spacing: 1px;
		padding-bottom: 5px;
		color: $dark-pink;
	}
	p:nth-of-type(2){
		text-transform: uppercase;
		padding-bottom: 20px;
		font-size: 1.5rem;
	}
	p:nth-of-type(3){
		padding-bottom: 20px;
	}
	p {
		font-size: 1.3rem;
		line-height: 30px;
	}
}

@media screen and (max-width: 1170px){
	.about-content {
		margin: 0 25px;
	}
} 

@media screen and (max-width: 975px) {
	.about-info_image {
		padding: 25px 40px;
		img{
			max-width: 100%;
		}
	}
	.about-info_copy {
		padding-top: 25px;
		padding-right: 25px;
		p:first-child {
			font-size: 1.6rem;
		}
		p:nth-of-type(2){
			padding-bottom: 10px;
			font-size: 1.4rem;
		}
		p:nth-of-type(3){
			padding-bottom: 10px;
		}
		p {
			font-size: 1.2rem;
			line-height: 25px;
		}
	}
	
}

@media screen and (max-width: 780px) {
	.about-content {
		&:before {
			height: 125px;
		}
	}
	.about-info_image {
		padding: 20px 30px;
	}
	.about-info_copy {
		padding-top: 20px;
		padding-right: 20px;
		p:first-child {
			font-size: 1.4rem;
		}
		p:nth-of-type(2){
			font-size: 1.2rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 650px) {
	.about-content {
		&:before {
			height: 100px;
		}
		h3 {
			font-size: 3rem;
			padding: 20px 0 0 20px;
		}	
	}
	.about-info_image {
		display: none;
	}
	.about-info_copy {
		width: 100%;
		padding-left: 40px;
		p:first-child {
			font-size: 1.3rem;
		}
		p:nth-of-type(2){
			font-size: 1.1rem;
		}
		p {
			font-size: 0.9rem;
		}
	}
}


