.about {
	padding-bottom: 50px;
	padding-top: 50px;
}
.about-content {
	border-top: 4px solid $border-grey;
	position: relative;
	min-width: 85%;
	&:before {
		content: '';
		position: absolute;
		background: $border-grey;
		left: 0; 
		top: 0;
		height: 145px;
		width: 4px;
	}
	h3 {
		font-size: 3.5rem;
		color: $dark-pink;
		text-transform: uppercase;
		padding: 40px 0 0 40px;
		span {
			color: $black;
		}
		@media screen and (max-width: 439px) {
				font-size: 2.5rem;
			}
	}	
}
.about-info {
	display: flex;
	padding-top: 25px;
	width: 100%;
}
.about-info_image {
	position: relative;
	padding-top: 30px;
	width: 50%;
	img {
		-webkit-clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
		clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
		display: block;
		margin: 0 auto;
		max-width: 75%;
	}
}
.about-info_copy {
	width: 50%;
	padding-top: 30px;
	padding-right: 40px;
	h4, h5 {
		font-weight: 500;
	}
	h4 {
		text-transform: uppercase;
		font-size: 1.7rem;
		letter-spacing: 1px;
		padding-bottom: 5px;
		color: $dark-pink;
	}
	h5{
		text-transform: uppercase;
		font-size: 1.5rem;
		padding-bottom: 20px;
	}
	
	p {
		padding-bottom: 20px;
		font-size: 1.2rem;
		line-height: 1.2;
	}
	p:nth-of-type(3) {
			padding-bottom: 10px;
		}
	ul {
		li {
			font-size: 1.1rem;
			line-height: 1.1;
			p, a {
				font-size: 0.8rem;
				font-style: italic;
			}
			p {
				padding-left: 30px;
				padding-bottom: 5px;
			}
			p sup {
				color: $dark-pink;
			}
			&:before {
				content: '\00B7';
				color: $dark-pink;
				font-size: 1.5rem;
				margin: 0 10px;
			}
		}
	}
	
}

@media screen and (max-width: 1170px){
	.about-content {
		margin: 0 25px;
	}
} 

@media screen and (max-width: 975px) {
	.about-info_image {
		padding: 25px 40px;
		img{
			max-width: 100%;
		}
	}
	.about-info_copy {
		padding-top: 25px;
		padding-right: 25px;
		h4 {
			font-size: 1.6rem;
		}
		h4{
			font-size: 1.4rem;
			padding-bottom: 10px;
		}
		
		p {
			padding-bottom: 10px;
			font-size: 1.1rem;
			line-height: 1.1;
		}
		p:nth-of-type(3) {
			padding-bottom: 5px;
		}
		ul {
		
		li {
			font-size: 1rem;
			line-height: 1;
			p, a {
				font-size: 0.7rem;
				font-style: italic;
			}
		}
	}
	}
	
}

@media screen and (max-width: 780px) {
	.about-content {
		&:before {
			height: 125px;
		}
	}
	.about-info_image {
		padding: 20px 30px;
	}
	.about-info_copy {
		padding-top: 20px;
		padding-right: 20px;
		h4 {
			font-size: 1.4rem;
		}
		h5 {
			font-size: 1.2rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 650px) {
	.about-content {
		&:before {
			height: 100px;
		}
		h3 {
			font-size: 3rem;
			padding: 20px 0 0 20px;
		}	
	}
	.about-info_image {
		display: none;
	}
	.about-info_copy {
		width: 100%;
		padding-left: 40px;
		h4 {
			font-size: 1.3rem;
		}
		h5{
			font-size: 1.1rem;
		}
		p {
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 439px) {
		.about-content h3 {
			font-size: 2.5rem;
		}
				
}

@media screen and (max-width: 420px) {
	.about-info_copy {
		padding-right: 20px;
		padding-left: 20px;
	}
				
}


