html {
	font-size: 16px;
}

body {
	font-family: $font-lato;
}

h1, h2, h3, h4,h5, p {
	margin: 0;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $dark-pink;
	&:hover, &:focus {
		color: darken($dark-pink, 10%);
		text-decoration: underline;
	}
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.SRT {
	clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media screen and (max-width: 940px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}