header {
	padding: 140px 0;
	background-color: $header-pink;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 406px;
		height: 400px;
		transform: translate(-50%, 37%) rotate(135deg);
		background: $header-white;
	}
}

.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile-nav {
	display: none;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: $box-black;
	z-index: 999;
	.menu-icon span {
		display: block;
		width: 20px;
		border-bottom: 2px solid $box-black;
		margin: 5px;
		transition: all 0.3s ease;
	}
	p {
		font-size: 1.1rem;
		transition: all 0.3s ease;
	}
	&.active {
		.menu-icon {
			span {
				transition: all 0.3s ease;
				margin: 0;
			}
			span:nth-of-type(2) {
				transform: rotate(45deg) translateY(50%);
			}
			span:nth-of-type(1) {
				opacity: 0;
			}
			span:nth-of-type(3) {
				transform: rotate(-45deg) translateY(-50%);
			}
		}
		p {
			opacity: 0;
		}
	}
}

.header-title {
	border: 9px solid $box-black;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 9;
	h1 {
		padding: 136px 48px 20px 48px;
		font-size: 2.925rem;
		position: relative;
	}
	h2 {
		font-weight: 400;
		font-style: italic;
		padding-bottom: 136px;
		padding-top: 20px;
	}
}

.header-title h1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 53px;
	height: 3px;
	background: $box-black;
	transform: translateX(-50%);
}



.header-nav {
	padding-top: 93px;
	margin: 0 auto;
	li {
		float: left;
		text-transform: uppercase; 
		position: relative;
	}
	li:before {
		content:'\007C';
		padding: 0 20px;
		color: $black;
		font-weight: 700;
	}
	li:first-child::before {
		display: none;
	}
}

.header-nav li a {
	color: $black;
	display: inline-block;
	font-size: 0.961rem;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	header {
		&::before{
		width: 375px;
		height: 375px;
		}
	}
	.header-nav {
		position: fixed;
		width: 200px;
		height: 100vh;
		top: 0;
		left: -200px;
		z-index: 99;
		background: white;
		transition: left .3s;
		&.open {
			left: 0;
		}
		li {
			float: none;
			margin: 10px 0;
			text-align: center;
			a {
				padding: 20px 0;
				width: 100%;
			}
		}
		li:before {
			display: none;
		}
		li a:hover {
			background: #ff6f6f;
			color: white;
		}
	}
	.mobile-nav {
		display: flex;
	}
	.header-title {
		border: 7px solid $box-black;
		h1 {
			padding: 120px 39.5px 20px 39.5px;
			font-size: 2.7rem;
		}
		h2 {
			padding-bottom: 120px;
			padding-top: 20px;
		}
	}
}
@media screen and (max-width: 575px) {
	header {
		&::before{
			width: 326px;
			height: 326px;
			transform: translate(-50%, 43%) rotate(135deg);
		}
	}
	.header-title {
		border: 7px solid $box-black;
		h1 {
			padding: 100px 25.5px 20px 25.5px;
			font-size: 2.5rem;
		}
		h2 {
			padding-bottom: 100px;
			padding-top: 20px;
			font-size: 1.25rem;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		&::before{
			width: 290px;
			height: 290px;
			transform: translate(-50%, 48%) rotate(135deg);
		}
	}
	.header-title {
		border: 4px solid $box-black;
		h1 {
			padding: 85px 10.5px 20px 10.5px;
		}
		h2 {
			padding-bottom: 85px;
			padding-top: 20px;
			font-size: 1.25rem;
		}
	}
}
@media screen and (max-width: 415px) {
	header {
		&::before{
			width: 261px;
			height: 261px;
			transform: translate(-50%, 54%) rotate(135deg);
		}
	}
	.header-title {
		border: 4px solid $box-black;
		h1 {
			padding: 75px 9px 20px 9px;
			font-size: 2.25rem;
		}
		h2 {
			padding-bottom: 75px;
			padding-top: 20px;
			font-size: 1rem;
		}
	}
}
@media screen and (max-width: 372px) {
	header {
		&::before{
			width: 220px;
			height: 220px;
			transform: translate(-50%, 65%) rotate(135deg);
		}
	}
	.header-title {
		border: 4px solid $box-black;
		h1 {
			padding: 62px 6px 20px 6px;
			font-size: 2rem;
		}
		h2 {
			padding-bottom: 62px;
			padding-top: 20px;
			font-size: 0.9rem;
		}
	}
}
