.portfolio {
	padding-top: 80px;
		background: $light-pink;
}

.portfolio-content {
	h3 {
		margin: auto;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		color: $black;
	}
}


@media screen and (max-width: 1170px){
	.portfolio-content {
		h3 {
			padding-left: 25px;
		}
	}
	
}



@media screen and (max-width: 768px) {
	.portfolio-content {
		h3 {
			font-size: 3rem;
		}
	}

}

@media screen and (max-width: 580px) {
	.portfolio-content {
		h3 {
			font-size: 2.5rem;
		}
	}
}
@media screen and (max-width: 480px) {
	.portfolio-content {
		h3 {
			font-size: 2rem;
		}
	}
}

