.portfolio {
	padding-top: 80px;
}

.portfolio-content {
	h3 {
		margin: auto;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		color: $black;
	}
}
.portfolio-peice {
	padding-top: 40px;
	padding-bottom: 40px;
	&:nth-of-type(even) {
		background: $light-pink;
	}
}

.portfolio-peice_content {
	position: relative;
	min-width: 85%;
}


.portfolio-peice:nth-of-type(odd) .portfolio-peice_content{

	border-top: 4px solid $border-grey;
	&:before {
		content: '';
		position: absolute;
		background: $border-grey;
		left: 0; 
		top: 0;
		height: 145px;
		width: 4px;
	}
	.portfolio-image {
		float: left;
		img {
			-webkit-clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
			clip-path: polygon(0 82%, 34% 100%, 100% 56%, 100% 0, 0 0);
		}
	}
	.portfolio-description {
		h4 {
			text-transform: uppercase;
			color: $dark-pink;
			span {
				display: block;
				color: $portfolio-black;
			}
		}
	}
	
}
.portfolio-peice:nth-of-type(even) .portfolio-peice_content {
	border-top: 4px solid $dark-pink;
	&:before {
		content: '';
		position: absolute;
		background: $dark-pink;
		right: 0; 
		top: 0;
		height: 145px;
		width: 4px;
	}
	.portfolio-image {
		float: right;
		img {
			-webkit-clip-path: polygon(0 0, 0 56%, 66% 100%, 100% 82%, 100% 0);
			clip-path: polygon(0 0, 0 56%, 66% 100%, 100% 82%, 100% 0);
		}
	}
	.portfolio-description {
		h4 {
			text-align: left;
			text-transform: uppercase;
			color: $portfolio-black;
			span {
				display: block;
				color: $dark-pink;
			}
		}
	}

}

.portfolio-image {
	margin: 0 auto;
	width: 45%;
	position: relative;
	padding-top: 46px;
	img {
		display: inherit;
		max-width: 80%;
		margin: 0 auto;
	}
}

.portfolio-description {
	display: inline-block;
	width: 55%;
	padding-top: 100px;
	padding-right: 40px;
	padding-left: 40px;
	a:last-child {
		margin-left: 10px;
	}
}

.portfolio-description_title {
	h4 {
		text-align: left;
		text-transform: uppercase;
		font-size:  3.5rem;
		span {
			display: block;
		}
	}
	img {
		display: none;
	}
}
.portfolio-info {
	padding: 20px 0;
	p {
		padding-bottom: 20px;
		font-size: 1.1rem;
		line-height: 27px;
	}
	h5 {
		text-transform: uppercase;
		font-size: 1.1rem;
		padding-bottom: 10px;
	}
	li {
		float: left;
		margin: 10px 10px 0 0;
		color: $dark-pink;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid $dark-pink;
		padding: 10px;
		width: calc(33.33% - 10px);
	}
	a {
		display: inline-block;
		padding: 10px 15px;
		margin: 20px 0;
		color: $black;
		text-transform: uppercase;
		background: $dark-pink;
		color: white;
	}
}

@media screen and (max-width: 1170px){
	.portfolio-content {
		h3 {
			padding-left: 25px;
		}
	}
	.portfolio-peice_content {
		margin: 0 25px;
	}
}

@media screen and (max-width: 940px) {
	.portfolio-image {
		width: 45%;
	}

	.portfolio-description {
		display: inline-block;
		width: 55%;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

			
}

@media screen and (max-width: 768px) {
	.portfolio-content {
		h3 {
			font-size: 3rem;
		}
	}
	.portfolio-peice {
		padding-top: 30px;
	}
	.portfolio-image {
		padding-top: 30px;

	}

	.portfolio-description_title {
		h4 {
			display: inline-block;
			font-size:  3rem;
		}
	}

	.portfolio-description {
		padding-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
		p {
			margin-top: 10px;
		}
		li {
			float: left;
			margin: 10px 10px 0 0;
			color: $dark-pink;
			text-transform: uppercase;
			text-align: center;
			border: 1px solid $dark-pink;
			padding: 8px;
			
			font-size: 0.7rem;
		}
		a {
			font-size: 0.7rem;
		}
	}
	.portfolio-info {
		padding-top: 0;
	}

}
@media screen and (max-width: 650px) {
	.portfolio-image {
		display: none;
	}
	.portfolio-description {
		width: 100%;
		img {
			display: inline-block;
			max-width: 30%;
			float: left;
			margin-right: 20px;
		}
		li {
			margin: 5px 5px 0 0;
			width: calc(33.33% - 10px);
		}
	}

}
@media screen and (max-width: 580px) {
	.portfolio-content {
		h3 {
			font-size: 2.5rem;
		}
	}
	.portfolio-description_title {
		h4 {
			font-size:  2.5rem;
		}
		img {
			width: 35%;
		}
	}
	.portfolio-info {
		p {
			font-size: 1rem;
		}
		h5 {
			font-size: 1rem;
		}
	}
}
@media screen and (max-width: 480px) {
	.portfolio-content {
		h3 {
			font-size: 2rem;
		}
	}
	.portfolio-peice {
		padding-top: 10px;
	}
	.portfolio-description {
		padding-right: 20px;
		img {
			margin-right: 5px;
		}
	}
	.portfolio-description_title {
		h4 {
			font-size:  2em;
		}
	}
	.portfolio-info {
		p {
			font-size: 0.9rem;
		}
		h5 {
			font-size: 0.9rem;
		}
		li {
			width: calc(50% - 10px);
		}
	}
}
@media screen and (max-width: 380px) {
	.portfolio-description {
		h4 {
			font-size: 1.8rem;
		}
		img {
			max-width: 28%;
			// margin-right: 2px;
		}
		a:last-child {
			margin-left: 5px;
		}
	}
}
@media screen and (max-width: 335px) {
	.portfolio-description {
		h4 {
			font-size: 1.7rem;
		}
		img {
			max-width: 25%;
			margin-top: 2px;
		}
	}
}
