$font-lato: 'Lato', sans-serif;
$box-black: #020100;
$header-font: #0f1529;
$header-pink: rgba(255, 212, 206, 0.83);
$header-white: rgba(246, 246, 246, 0.61); 
$black: #111;
$border-grey: #e1e1e1;
$dark-grey: #464646;
$portfolio-black: #242424;
$dark-pink: #ff6f6f;
$light-pink: #fef9f9;